#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

/*
path.chord {
  stroke: #000;
  stroke-width: .25px;
}
*/

.group-arc + text {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.group-arc.animate + text {
  opacity: 0;
}

#circle:hover path {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#circle:hover path.fade {
  opacity: 0;
}

.group path,
.group text {
  cursor: pointer;
}

.group text.region {
  font-family: 'CartoGothicStdBold', Arial, sans-serif;
  font-size: 14px;
}
