/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
	body {
   
	}
	/* Default link styling */
/*	
  a:link { color:#0271fb; }
	a:visited { color:#bd02fb; }
	a:hover, a:focus { color:#000; }
	a:active { color:#fb0e02; }
*/	
	
	
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/
@font-face {
    font-family: "CartoGothic";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/CartoGothicStd-Book-webfont.eot") format("embedded-opentype"), url("fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("fonts/CartoGothicStd-Book-webfont.svg") format("svg");
}
@font-face {
    font-family: "CartoGothic";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/CartoGothicStd-Bold-webfont.eot") format("embedded-opentype"), url("fonts/CartoGothicStd-Bold-webfont.woff") format("woff"), url("fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype"), url("fonts/CartoGothicStd-Bold-webfont.svg") format("svg");
}

body {
  font: 15px/1.8em 'CartoGothic', Arial, sans-serif;
  width: 100%;
  margin: 0;
  background-color: #6D6B6B;
  color: #000000;
  line-height: 1.7em
}

a, a:visited, a:hover, a:focus, a:link {
  color: #6A93BF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  width: 960px;
  background-color: #FFFEFF;
  -moz-box-shadow: 0 0 15px #000;
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;

  background-image: -webkit-linear-gradient(top, #F7F6F6 0px, #F7F6F6 300px, #FFFEFF 450px, #FFFEFF 1100px, #F7F6F6 1250px, #F7F6F6 100%);
  background-image:    -moz-linear-gradient(top, #F7F6F6 0px, #F7F6F6 300px, #FFFEFF 450px, #FFFEFF 1100px, #F7F6F6 1250px, #F7F6F6 100%);
  background-image:     -ms-linear-gradient(top, #F7F6F6 0px, #F7F6F6 300px, #FFFEFF 450px, #FFFEFF 1100px, #F7F6F6 1250px, #F7F6F6 100%);
  background-image:      -o-linear-gradient(top, #F7F6F6 0px, #F7F6F6 300px, #FFFEFF 450px, #FFFEFF 1100px, #F7F6F6 1250px, #F7F6F6 100%);

  background-image:   linear-gradient(to bottom, #F7F6F6 0px, #F7F6F6 300px, #FFFEFF 450px, #FFFEFF 1100px, #F7F6F6 1250px, #F7F6F6 100%);
}

header {
  margin: 0;
  padding: 50px 30px;
}

h1 {
  font-family: 'CartoGothic', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}

.lead-in {
  font-size: 22px;
  line-height: 1.3em;
  font-weight: normal;
  color: #6D6B6B;
  width: 75%;
  margin: 0 0 30px 0;
}

.credits {
  font-size: 13px;
  line-height: 1.6em;
  color: #6D6B6B;
  margin: 0 0 40px 0;
}

hr {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAIAAAAW4yFwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABNJREFUeNpiuHDhAsP///8BAgwAFKIFbjWCxU8AAAAASUVORK5CYII=) repeat-x top left;
  height:2px;
  border:none !important;
}

.year label {
  padding: 0 1em;
  cursor: pointer;
  font-weight: normal;
}
.year input {
  display: none;
}
.year input[checked] + label {
  font-family: 'CartoGothic', Arial, sans-serif;
  font-weight: bold;
}

footer {
  margin: 3ex 0 6ex 0;
}

/* ---------------------------------------------------------
   SVG styles
   ---------------------------------------------------------*/
svg {
  font-size: 12px;
  max-width: 100%;
  vector-effect: non-scaling-stroke;
}
.info, .label {
  pointer-events: none;
}
.info text {
  fill: white;
}

#circle circle {
  fill: none;
  pointer-events: all;
}
text {
  cursor: default;
  fill: #333;
}
.group-arc + text {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.group-arc.animate + text {
  opacity: 0;
}
#circle path {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#circle:hover path.fade,
#circle path.unselected {
  opacity: 0;
  pointer-events: none;
}
text.fade {
  opacity: 0;
}
.group-arc {
  cursor: pointer;
}
text.region {
  font-family: 'CartoGothic', Arial, sans-serif;
  font-size: 14px;
}
.chord {
  opacity: 0.75;
}
.chord:hover {
  opacity: 1;
}


	
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
		background:transparent !important;
    }
	html { background-color:#fff; }
	/* Hide navigation */
	nav { display:none; }

	/* Show link destinations in brackets after the link text */
	a[href]:after { content: " (" attr(href) ") "; }
	a[href] {
		font-weight:bold;
		text-decoration:underline;
		color:#06c;
		border:none;
	}
	/* Don't show link destinations for JavaScript or internal links */ 
	a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
	
	/* Show abbr title value in brackets after the text */
	abbr[title]:after { content: " (" attr(title) ")"; }

	figure { 
		margin-bottom:1em; 
		overflow:hidden;
	}

	figure img { border:1px solid #000; }
}
